@font-face {
    font-family: 'Sci Fied Bitmap';
    src: url('../font/scifibit.ttf');
}

@font-face {
    font-family: 'Malgun Gothic';
    src: url('../font/malgun.ttf');
}

@font-face {
    font-family: 'PFStardust';
    src: url('../font/PFStardust.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Malgun Gothic";
}

body {
    width: 100vw;
    height: 100vh;
}