
@font-face {
    font-family: 'Sci Fied Bitmap';
    src: url('../font/scifibit.ttf');
}

@font-face {
    font-family: 'Malgun Gothic';
    src: url('../font/malgun.ttf');
}

@font-face {
    font-family: 'PFStardust';
    src: url('../font/PFStardust.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Malgun Gothic";
}

body {
    width: 100vw;
    height: 100vh;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
    font-size: 9px;
}

.background {
    background-image: url('../images/background.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.outerbox {
    background-image: url('../images/outerbox.png');
    width: 808px;
    height: 544px;
    padding: 30px;
}

.wrapper {
    width: 756px;
    height: 496px;
    padding: 7px;

    display: flex;
}

/* Wrapper left */
.wrapper__left {
    width: 208px;
    height: 472px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wrapper__left__header {
    width: 100%;
    height: 30px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;

    font-size: 9px;
    font-family: sans-serif;

    margin-bottom: 8px;
}

.sci-font {
    font-family: "Sci Fied Bitmap" !important;
    color: #55b2d4;
}

.wrapper__left__body {
    width: 100%;
    height: 496px;

    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left__body__item {
    width: 148px;
}

.left__body__header {
    height: 133px;
    margin-top: 20px;
    margin-bottom: 24px;
}

.left__body__header__gray {
    width: 100%; 
    height: 133px;
    background-color: #c4c4c4;
}

.left__body__header__line {
    height: 12px;
    border-bottom: 1px dashed black;
}

.left__body__profile {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile__detail {
    font-size: 9px;
    margin-bottom: 10px;
}

.profile__item {
    margin-left: 9px;
    color: #999999;
}

.left__body__footer {
    font-weight: 400;
    margin-bottom: 20px;
}

.wrapper__feel {
    font-size: 11px;
    line-height: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feel__title {
    margin-bottom: 5px;
    color: gray;
}

.feel__select {
    width: 100%;
    padding: 5px 0px;
    border-radius: 10px;
    background-color: aquamarine;
}

.left__body__footer__title {
    margin-bottom: 8px;
}

/* Wrapper Right */
.wrapper__right {
    width: 524px;
    height: 472px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-size: 9px;
    color: #55b2d4;
}

.wrapper__right__header {
    width: 518px;
    height: 30px;

    font-family: 'Sci Fied Bitmap';
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
}

.right__header__title {
    font-size: 16px;
    margin-left: 30px;
}

.right__header__contents {
    font-family: 'PFStardust';
    font-size: 13px;
    height: 20px;
    padding-bottom: 26px;
}

.wrapper__right__body {
    width: 100%;
    height: 496px;

    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;

    margin-left: 5px;
    padding: 20px 30px;
}

/* Wrapper Menu */
.wrapper__menu {
    width:  16px;
    height: 100%;
}

.menu__header {
    height: 45px;
}

.menu__body {
    width: 100%;
    height: 496px;
}

.menu__item {
    position: relative;
    left: 1px;

    width: 60px;
    height: 30px;
    background-color: #298eb5;
    margin-bottom: 4px;
    border: 1px solid #0f465e;
    border-left: none;
    border-radius: 0px 5px 5px 0px;

    color: white;
    font-family: 'PFStardust';
    font-size: 12px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu__select {
    background-color: white;
    color: black;
}

/* Contents */
.today {
    font-size: 11px;
    color: red;
}

.total {
    font-size: 11px;
    color: black;
}